div#blogcms_content {
  
  font-family: Tahoma, Arial, Verdana;
}

div#blogcms_content a {
  
  color: blue;
}


div#blogcms_content h1 {
  
  font: 18px Tahoma, Arial, Verdana;
  font-weight: bold;
  color: #555;
  margin-bottom: 50px;
}

div#blogcms_content div#bloginfo {
  
  float: right;
  width: 200px;
  padding: 10px;
  background-color: #DDD;
  font-size: 16px;  
}

div#blogcms_content div#bloginfo div#goback {
  
  margin-bottom: 5px;
}

div#blogcms_content div#bloginfo div#goback a {
  
  font-size: 13px;
}


div#blogcms_content div#bloginfo div#url {
  
  margin-top: 5px;
}

div#blogcms_content div.inputCon {
  
  margin-top: 5px;
}

div#blogcms_content div.inputCon input {
  
  background-color: #E0E0E0;
  border: 1px #D0D0D0 solid;
}

div#blogcms_content div.inputCon textarea {
  
  background-color: #E0E0E0;
  border: 1px #D0D0D0 solid;
}

div#blogcms_content div.productsCon {
  
  margin-top: 5px;
  overflow: auto;
  height: 500px;
  width: 700px;
}

div#blogcms_content div.inputCon span.relatedDoc {
  font-size: 9px;
}

div#blogcms_content  div#products_left {
  float: left;
  margin-right: 20px;
  width: 320px;
}

div#blogcms_content  div#products_right {
  float: left;
  width: 600px;
}

div#blogcms_content  div#productsChooser {
  margin-top: 10px;
}

div#blogcms_content  div#productsChooser div.pic {
  
  width: 80px;
  height: 90px;
  background-color: #E0E0E0;
  border: 1px #D0D0D0 solid;
  cursor: pointer;
  cursor: hand;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

div#blogcms_content  div.product {
  
  width: 80px;
  height: 90px;
  cursor: pointer;
  cursor: hand;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

div#blogcms_content  input.save {
  
  font-size: 18px;
  padding: 3px 22px 2px 22px;
}

div#blogcms_content  div#statusTmp {
  
  background-color: #F9AAA2;
  padding: 3px;
  width: 200px;
}

div#blogcms_content  div#statusValid {
  
  background-color: #56EF38;
  padding: 3px;
  width: 200px;
}
